@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
body {
    font-family: 'Fredericka the Great', cursive;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #B34646;
}

.bg-light {
    background: #F4F4F4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #FFF;
}

.bg-primary {
    background: #B34646;
    color: #FFF;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.lead2 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
    display: inline-block;
    color: #FFF;
    background: #B34646;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #650F0F;
}

.btn-dark {
    background: #333;
    color: #FFF;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #FFF;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #FFF;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #B34646;
    border-radius: 5px;
}

#showcase {
    background: #333 url('../img/saved.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #FFF;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

#mission .items {
    display: flex;
    padding: 1rem;
}

#mission .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#mission .items .item i {
    background: #B34646;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#highlights .items {
    display: flex;
}

#highlights .items img {
    display: block; 
    margin: auto;
    width: 75%;
    border-radius: 5px;
}

#newsletter {
    display: flex;
}

#newsletter .nl {
    background: #333 url('../img/saved.jpg') no-repeat center center/cover;
}

#newsletter .nl, 
#newsletter .newsletter-form {
    flex: 1;
}

#newsletter .newsletter-form .form-group {
    margin: 0.75rem;
}

#newsletter .newsletter-form label {
    display: block;
}

#newsletter .newsletter-form input, 
#newsletter .newsletter-form textarea {
    width: 100%;
    padding: 0.5;
}

/* Our Work */

#our-work-showcase {

    /* background: #333 url('https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80') no-repeat center center/cover; */
    height: 40vh;
    /* color: #FFF; */

}

#our-work-showcase .showcase-content {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 0 2rem;

    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.4); */

}

#our-work-showcase .showcase-content h3 {

    margin-top: 5rem;
    text-decoration: underline;
    margin-bottom: 1.5rem;

}   
#typhoon {

    margin-top: 3rem;
    background: #333 url('https://www.nesdis.noaa.gov/sites/default/files/20191008-TYPHagibis.jpg') no-repeat center center/cover;
    height: 50vh;
    color: white;

}

#polio {

    margin-top: 3rem;
    background: #333 url('http://polioeradication.org/wp-content/uploads/2016/07/unspecified-4.jpg') no-repeat center center/cover;
    height: 50vh;
    color: white;

}

#wildfire {

    margin-top: 3rem;
    background: #333 url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1440,w_2560,x_0,y_0/dpr_1.5/c_limit,w_1044/fl_lossy,q_auto/v1540340615/181022-megas-greece-fires-tease_tnbbrv') no-repeat center center/cover;
    height: 50vh;
    color: white;

}

.our-work-container {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* padding-top: 10rem; */
    background-color: rgba(0,0,0,0.4);

}


#donate {
    margin: 3rem 0;
    height: 450px;
}

#donate .donate-img {
    float: left;
    width: 50%;
    background: url("https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80") no-repeat center center/cover;
    min-height: 100%;
}

#donate .donate-container {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 5rem 1rem;
    overflow: hidden;
}

#donate .donate-container p {

    margin-bottom: 2rem;

}

#donate .donate-container h3 {

    margin-bottom: 2rem;

}
